* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
input {
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("./imgs/bg.jpg");
  background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
  -webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
  -moz-background-size: cover; /* optional for Firefox 3.6 */
  -o-background-size: cover; /* for Opera 9.5 */
  padding: 0; /* to remove the default white margin of body */
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pandaText {
  display: flex;
  align-content: center;
  justify-content: center;
  color: rgb(150, 159, 173);
}
.globalHeader {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  min-width: 200px;
}
.searchFrom {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .globalHeader {
    margin-top: 50px;
  }
  .siteList .addButton .iconWrapper {
    width: 34px;
    height: 34px;
  }
  .searchFrom {
    padding: 1px 2px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }
  .searchFrom > button {
    width: auto;
  }
  .pandaText {
    display: flex;
    height: 25px;
    margin-top: 200px;
    flex-wrap: nowrap;
    margin-left: 10px;
    font-size: 15px;
    color: black;
  }
  .siteList .addButton {
    width: 70px;
    padding: 5px 0;
    margin-top: 15px;
  }
  .siteList > li {
    margin-right: 12px;
    margin-left: 12px;
  }
  .siteList .site > .logo {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-transform: uppercase;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.2);
  }
  .searchFrom > input {
    width: 80%;
    margin-right: 10px;
    height: 20px;
    padding: 0 10px;
  }
  .siteList {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .site {
    max-width: 70px;
    margin-top: 15px;
  }
  .pandaText {
    font-size: 40px;
  }
  .siteList .addButton .icon {
    width: 15px;
    height: 15px;
  }
  .siteList.site > .Link {
    font-size: 8px;
  }
  img {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 500px) {
  .searchFrom {
    padding: 1px 2px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
  }
  .searchFrom > button {
    width: auto;
  }
  .globalMain {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .site:hover {
    cursor: pointer;
    background: #f2f2f2;
  }
  .addButton:hover {
    cursor: pointer;
    background: #f2f2f2;
  }
  .siteList .site:hover > .close {
    display: block;
  }
  .pandaText {
    margin-top: 200px;
    font-size: 35px;
  }
  .siteList .addButton {
    width: 120px;
    padding: 5px 0;
  }
  .siteList .site > .logo {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    text-transform: uppercase;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.2);
  }
  .siteList .addButton .iconWrapper {
    width: 64px;
    height: 64px;
  }
  .siteList .addButton .icon {
    width: 35px;
    height: 35px;
  }
  img {
    width: 40px;
    height: 40px;
  }
}
.find {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px 0 0 30px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  width: 40px;
  height: 40px;
  position: relative;
  background: #979fad;
  opacity: 0.8;
}

.searchFrom > input {
  width: 80%;
  margin-right: 10px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ffffff;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-radius: 0 30px 30px 0;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  opacity: 0.5;
}
.searchFrom > button {
  white-space: nowrap;
  width: auto;
  padding: 0 28px;
  border: none;
  border-radius: 10px;
  background: #4e6ef2;
  color: #dddddd;
  font-size: 16px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.219);
}
.searchFrom > button:hover {
  cursor: pointer;
}

.siteList {
  display: flex;
  flex-wrap: wrap;
}
.siteList > li {
  margin-bottom: 10px;
}
.siteList .site {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px 0;
  position: relative;
  border-radius: 4px 4px 4px 4px;
  opacity: 0.5;
}

.siteList .site > .link {
  font-size: 14px;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}
.siteList .site > .close {
  right: 14px;
  top: 0;
  position: absolute;
  display: none;
}
.siteList .addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 4px 4px 4px 4px;
  opacity: 0.6;
}

.siteList .addButton .text {
  font-size: 14px;
  margin-top: 15px;
}
.siteList .addButton .iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.2);
}
.newLogo {
  border-radius: 50%;
}
